body {
  background-image: url(/assets/images/family_1.jpg);
}
  
* {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .navbar li {
    list-style-type: none;
    float: right;
    
  
  }
    li a:hover {
      color: white;
    }
        
    li a {
    background-color: black;
    padding: 16px 18px;
    display: block;
    text-decoration: none;

  }

   {
  
    color: white;

  }
  h1 {
    color: SeaGreen;
  }
  
  
  p, 
  li {
    font-size: 18px;
  }
  
  
  a:visited {
    color: green;
  }
  a:link {
    color: green;
  }
  a:hover {
    background-color: yellow;
  }
  .contactForm {
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    
  }
  ul,li {
    font-weight: normal;
  }
  .footerIcon {
    display: inline-block;
    border-radius: 50px
    width: 5px;


  }
.footerIcon1{
  display: inline-block;
  border-radius: 70px;
  width: 5px;
}
body, img{
  border-radius: 80px;
  width:
}