pri-nav, .nav-links {
  display: flex;
  padding: 0;
  margin: 0;
}
.pri-nav {
  justify-content: space-around;
  height: 17vh;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  justify-content: right;
}
.pri-nav a {
  padding: 16px 18px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: black;
}  
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  gap: 30px;
}
.search-btn {
  display: block;
}
.author {
  text-align: center;
  font-size: 3rem;
}
.div-author {
  display: inline-block;
  width: 359px;
  vertical-align: top;
  margin-right: 15px;
}
.enojos {
  width: 360px;
  margin-right: 12px;
}
.row {
  margin-top: 20px;
}
.eno-channel {
  display: inline-block;
  width: 90px;
  vertical-align: top;

}
.channel-img {
  border-radius: 50px;
  
}
.eno-info {
  display: inline-block;
  margin-bottom: 10px;
  line-height: 10px;
  width: 210px;
}
.video-author, .video-stats {
  font-family: Dubai, Arial;
  font-size: 12px;
}
.video-title {
  display: inline-block;
  width: 250px;
  line-height: 18px;
  font-weight: 700;
  margin-top: 0;
}
.emu {
  width: 268px;
}

.temi {
  width: 200px;
}
.channel-info {
  display: inline-block;
  margin-bottom: 10px;
  line-height: 10px;
  width: 210px;
}
.pastork {
  width: 300px;
  display: inline;
}
.artfont {
  font-family: Dubai;
}
.hide {
  display: none;
}
.John:hover +.hide {
  display: block;
  color: red;
  font-size: 12px;
}
.united-family {
  float: left;
  width: 150px;
  margin-right: 10px;
  margin-top: 10px;
}
p {
  text-align: justify;
}
.links {
  list-style-type: none;
}
.links li a {
  text-decoration: none;
  color: hsla(0, 0%, 0%, 90)
}
p, li {
  font-size: 18px;
}
.about-image {
  background-image: url(/assets/images/growing.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  color: white;
}
a:visited {
  color: green;
}
a:links {
  color: green;
}
a:hover {
  background-color: yellow;
}
.contactForm {
  font-style: italic;
  font-family:Arial, Helvetica, sans-serif;
  position: relative;
}
ul,li {
  font-weight: normal;
}
.footerIcon {
  display: flex;
  justify-content: left;
  margin-top: 1rem;
  gap: 1rem;
}
.icon {
  cursor: pointer;
  height: 5rem;
}
body {
  border-radius: 80px;
}
/* media query */
@media (max-width: 800px) {
  #image-container {
  flex-direction: column;
}
}